.liteflowShapeWrapper {
  position: relative;
  font-size: 12px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.liteflowShapeSvg {
  width: 30px;
  height: 30px;
  overflow: visible !important;
}
